.portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/portfolio-bg-2.jpg);
  background-size: cover;
  background-position: center center;

  /* margin-left: 5%;
  margin-right: 5%; */
}
.portfolio-content {
  width: 100%;
  display: grid;
  place-items: center;
  padding-bottom: 5%;
}
.portfolio-content span {
  color: red;
  text-shadow: 1px 1px black;
}
.portfolio-content h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  display: flex;
  justify-content: center;
}
.portfolio-content p {
  color: white;
  font-size: 120%;
  width: 66%;
}
/*----------------------------- slideshow -----------------------------------------*/
.card_image img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: 300px;
  object-fit: scale-down;
}
.mySlides img:hover {
  opacity: 0.8;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(190, 13, 13, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}
.column img {
  width: 10%;
  height: 10%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
